<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>게시판 작성</title>
</head>
<body>
    <div>
        <h2>새 글 작성</h2>
        <div>
            <label for="title">제목</label><br>
            <input title="글제목" type="text" name="title" id="title"/>
        </div>
        <br>
        <div>
            <label for="regId">작성자</label><br>
            <input title="회원 이름" type="text" name="regId" id="regId"/>
        </div>
        <br>
        <div class="content-box">
            <label>내용</label><br>
            <textarea class="글 내용" id="content" name="content" rows="10" cols="50"></textarea>
        </div>
        <button type="button" onclick="writeSave();">저장</button>
    </div>
</body>
</html>

<script>

    const writeSave = () => {

        const title = document.querySelector("#title").value;
        const regId = document.querySelector("#regId").value;
        const content = document.querySelector("#content").value;

        const reqData = {
            title : title,
            regId : regId,
            content : content
        }

        $.ajax({
            type: 'post',
            url: '/write',
            data: JSON.stringify(reqData),
            dataType : "json",
            contentType:"application/json",
            success: function (resData) {
                console.log(resData);
                if (resData == 1) {
                    alert("게시글 등록을 완료했습니다. \n 게시판 목록으로 이동합니다.");
                    location.href = '/board/board';
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>