<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
아이디 <input type="text" id="userId" name="userId"><br/>
비밀번호 <input type="text" id="password" name="password">
<label><input type="radio" name="gender" value="W"> 여자</label>
<label><input type="radio" name="gender" value="M"> 남자</label>
<button type="button" onclick="userSave();">회원가입</button>
</body>
</html>
<script>

    const userSave = () => {

        const id = document.querySelector("#userId").value;
        const pw = document.querySelector("#password").value;
        const gender = document.querySelector('input[type=radio][name=gender]:checked').value;

        const reqData = {
            userId : id,
            password : pw,
            gender : gender
        }

        $.ajax({
            type: 'post',
            url: '/user/user-add',
            data: JSON.stringify(reqData),
            dataType : "json",
            contentType:"application/json",
            success: function (resData) {
                console.log(resData);
                if (resData == 1) {
                    alert("회원가입을 완료했습니다. \n 로그인해주세요.");
                    location.href = '/user/login';
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


</script>